/* add your CSS here */
body {
    font-family: 'Times New Roman', Times, serif;
    color: #373737;
}

.animalImage {
    max-width: 400px;
    max-height: 400px;
}
.bigBox {
    border: #e9e9e9;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    padding: 15px;
    width: 400px;
    -webkit-box-shadow: 10px 10px 19px 5px rgba(239,241,242,1);
    -moz-box-shadow: 10px 10px 19px 5px rgba(239,241,242,1);
    box-shadow: 10px 10px 19px 5px rgba(239,241,242,1);
}

ul,li  {
    list-style-type: none;
    list-style-position:inside;
    margin-left:0;
    padding-left:0;
}

li > span {
   font-weight: bold;
}

.content {
    text-align: left;
    border: #e9e9e9;
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
